.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: overlay;
    flex-direction: column;
}
.layout {
    display: flex;
    margin-top: 56px;
    flex: 1;
}
.contents {
    margin-left: 240px;
    flex: 1;
  }
.contentsHidden {
    margin-left: 0px;
}

@media screen and (max-width:911px) {
    .contents {
        margin-left: 72px;
    }
}