.header {
    position: fixed;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding-left: 24px;
    background-color: white;
  }
  .container {
    margin-top: 56px;
    padding: 24px 36px 24px 24px;
    background-color: #f9f9f9;
  }
  
  .grid {
    display: grid;
    width: 100%;
    row-gap: 40px;
    column-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }